<html>
    <head>
        <title>expense tracker</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <h1>Expense Tracker</h1>
        <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
            <div>
            <a class="btn btn-primary btn-lg btn-block" href="/add_expense" role="button">Add Expense</a>
            <a class="btn btn-primary btn-lg btn-block" href="/add_income" role="button">Add Income</a>
            </div>
        </div>
    </body>
 